body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.container {
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
}

.navbar {
    background: rgb(0, 140, 255);
    padding: 15px;
    box-shadow: 0px 3px 10px grey;
}

.navbar-brand {
    color: white;
    text-decoration: none;
    
    font-size: 1.5em;
}

.nav-right {
    float: right;
    margin-left: 10px;
}

.profile-picture {
    border-radius: 25px;
}

.inv-button {
    background-color: transparent;
    border-radius: 25px;
    border: none;
}

.card {
    background-color: #E1E1E1;
    border-radius: 15px;
    box-shadow: 0px 3px 6px grey;
    overflow: hidden;
    height: fit-content;
}

.card-img {
    object-fit: cover;
    float: center;
    width: 100%;
    height: auto;
    max-height: 200px;
    border-radius: 15px;
    background-color: whitesmoke;
    box-shadow: 0px 3px 6px grey;
}

.project-grid {
    margin-bottom: 10px;
    display: grid;
    grid-auto-rows: minmax(10px, auto);
    grid-template-columns:repeat(auto-fit,minmax(18rem,1fr));
    justify-items: stretch;
    grid-gap: 5em;
}

.card-title {
    font-weight: 500;
    font-size: 1.25em;
}

.text-white {
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

.card-body {
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    overflow: hidden;
}

.float-button {
    background-color: rgb(0, 140, 255);
    border-style: none;
    font-size: 1em;
    width:120px;
    height:40px;
    border-radius: 15px;
    box-shadow: 0px 3px 6px grey;
    color: white;
    text-decoration: none;
}
.float-button:hover {
    background: rgb(0, 170, 255);
    box-shadow: 0px 5px 10px grey;
}

.float-button:active {
    background: rgb(0, 120, 255);
    box-shadow: 0px 0px 0px grey;
}

.card-button-group {
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    overflow: hidden;
    height: 60px;
}

.login-card {
    min-width: 10rem;
    max-width: 30rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10px;
}

.login-title {
    text-align: center;
}

.input {
    border: 0px solid;
    height: 30px;
    width: 90%;
    font-size: 1.3em;
}

.input:focus {
    border: 0px solid;
    box-shadow: 0px 1px 10px grey;
    outline: none;
}